{% extends 'layout.html' %}


{% block content %}
{% for event in events %}
<p><b>ID: </b> {{event.id}} </p>
<p><b>Start: </b> {{event.start}} </p>
<p><b>End: </b> {{event.end}} </p>
<p><b>Name: </b> {{event.name}} </p>
<p><b>Price: </b> {{event.price}} </p>
<p><b>Location: </b> {{event.location}} </p>
<p><b>Categories: </b> {{event.categories}} </p>
<p><b>Attendees: </b> {{event.attending_user}} </p>
<form action="/like/" method="post">
    <button name="likeBtn" type="submit">Like</button>
</form>
{% endfor %}
{% endblock %}
