{% extends "layout.html" %}
{% from 'map.html' import map_styles, map_input, map_input_scripts %}

{% block styles %}
{{ map_styles() }}
{% endblock styles %}

{% set title = 'Add Event' %}

{% block content %}
<h1>Add Event</h1>
<form action="" method="POST" novalidate>
    {{event_form.hidden_tag()}}
    <p>
        {{event_form.name.label}}<br>
        {{event_form.name(size=32)}}<br>
        {% for error in event_form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{event_form.start.label}}<br>
        {{event_form.start(size=32)}}<br>
        {% for error in event_form.start.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{event_form.end.label}}<br>
        {{event_form.end(size=32)}}<br>
        {% for error in event_form.end.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{event_form.price.label}}<br>
        {{event_form.price(size=32)}}<br>
        {% for error in event_form.price.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{event_form.Categories.label}}<br>
        {{ event_form.Categories(size=32, placeholder="e.g. Holiday, School, Athletic, Other") }}<br>
        {% for error in event_form.Categories.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{event_form.locationLatitude(size=32, hidden=True)}}
        {{event_form.locationLongitude(size=32, hidden=True)}}
    </p>
    {{ map_input(600, 400) }}
    <p>
        {% for error in event_form.locationLatitude.errors %}
        <span style="color: red;">[Location error: {{ error }}]</span>
        {% endfor %}
        {% for error in event_form.locationLongitude.errors %}
        <span style="color: red;">[Location error: {{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{event_form.submit()}}</p>
</form>
{% endblock %}


{% block scripts %}
{{ map_input_scripts(42.697765, -73.108005, 3000) }}
{% endblock %}
