{% extends 'layout.html' %}


{% block content %}
<link rel="stylesheet", type="text/css", href="{{url_for('static', filename='css/calender.css')}}">
<!--        <div class="calendar__day day">1</div> -->
<div class="container-fluid">
  <main>
    <br/>
    <div class="toolbar">
      <div class="toggle">
        <div class="toggle__option">week</div>
        <div class="toggle__option toggle__option--selected">month</div>
      </div>
      <div class="current-month">{{month_name}} {{year}}</div>
      <div>
        {% if month == 1 %}
        <a href={{url_for('main.calendar_page_monthly', year=year-1, month=12)}}><</a>
        {% else %}
        <a href={{url_for('main.calendar_page_monthly', year=year, month=month-1)}}><</a>
        {% endif %}

        <a href={{url_for('main.calendar_page_monthly', year=now.year, month=now.month)}}>Today</a>
        {% if month == 12 %}
        <a href={{url_for('main.calendar_page_monthly', year=year+1, month=1)}}>></a>
        {% else %}
        <a href={{url_for('main.calendar_page_monthly', year=year, month=month+1)}}>></a>
        {% endif %}
      </div>
    </div>
    <div class="calendar">
      <div class="calendar__header">
        <div>sun</div>
        <div>mon</div>
        <div>tue</div>
        <div>wed</div>
        <div>thu</div>
        <div>fri</div>
        <div>sat</div>
      </div>
      {%for week in range(0,5)%}
        <div class="calendar__week">
          {% for day in range(0,7) %}
            {%if daylist[day + week * 7] == 0%}
              <div class="calendar__day day"></div>
            {%else%}
              <div class="calendar__day day">{{daylist[day + week * 7]}}
                <br/>
                {% for event in event_list[day+week*7] %}
                  <li><a href="">{{event.name}} {{event.start}} to {{event.end}} in {{event.get_address()}}</a></li>
                {% endfor %}
              </div>
            {%endif%}
          {%endfor%}
        </div>
      {%endfor%}
    </div>
    <br/>
  </main>
</div>

</body>
{% endblock %}
