{% extends 'layout.html' %}


{% block content %}
<link rel="stylesheet", type="text/css", href="{{url_for('static', filename='css/calender.css')}}">
<!--        <div class="calendar__day day">1</div> -->
<div class="container-fluid">
  <main>
    <br/>
    <div class="toolbar">
      <div class="toggle">
        <div class="toggle__option">week</div>
        <div class="toggle__option toggle__option--selected">month</div>
      </div>
      <div class="current-month">June 2016</div>
      <div class="search-input">
        <input type="text" value="What are you looking for?">
        <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="calendar">
      <div class="calendar__header">
        <div>sun</div>
        <div>mon</div>
        <div>tue</div>
        <div>wed</div>
        <div>thu</div>
        <div>fri</div>
        <div>sat</div>
      </div>
      {%for week in range(0,5)%}

      <div class="calendar__week">
        {% for day in range(0,7) %}
        {%if daylist[day + week * 7] == 0%}
     <div class="calendar__day day"></div>
        {%else%}
        <div class="calendar__day day">{{daylist[day + week * 7]}}</div>
      {%endif%}
      {%endfor%}
      </div>

        {%endfor%}
    </div>
    <br/>
  </main>
</div>

</body>
{% endblock %}


