
{% set title = 'Events' %}
{% extends 'layout.html' %}


{% block content %}
<link rel="stylesheet", type="text/css", href="{{url_for('static', filename='css/events_page.css')}}">
<br/>
<div class="container">
  <div class="row">
    <div class="col">
<div class="dropdown">
  <button class="dropbtn">Sort By</button>
  <div class="dropdown-content">
    <a href="/events_page/0/">ID</a>
    <a href="/events_page/1/">Start Time</a>
    <a href="/events_page/2/">Name</a>
    <a href="/events_page/3/">Price</a>
    <a href="/events_page/4/">Location</a>
  </div>
</div>
</div>
<div class="col">
  </div>
  <div class="col">
    <p style="text-align:right;">{{ events.count() }} events found in the database.</p>
    </div>
</div>

{% for event in events %}
<form action="{{url_for('main.events_page', sortby=0)}}" method="post">
  <div class="event">
  <div class="card text-center">
    <div class="card-header">
      <a href="/event/{{event.id}}" class="event_title">{{event.name}}{{event.is_being_attended}}</a>
    </div>
    <div class="card-body">
      <p class="card-text">{{event.start}} — {{event.end}}</p>
      {{attend_form.event_id(value=event.id, hidden=True)}}


      {% if list_is_attending[loop.index0]==True %}
        <input class="btn btn-outline-primary" type="submit", value="Unattend">
      {% else %}
        <input class="btn btn-outline-primary" type="submit", value="Attend">
      {% endif %}



    </div>
    <div class="card-footer text-muted">
      <a class="event_info"><b>ID: </b> {{event.id}} </a>
      <a class="event_info"><b>Price: </b> {{event.price}} </a>
      <a class="event_info"><b>Location: </b> {{event.location}} </a>
      <a class="event_info"><b>Categories: </b> {% for category in event.categories %}{{ category }}{% endfor %} </a>
      <a class="event_info"><b>Attendees: </b> {% for usr in event.attending_user %}{{usr.firstname}} {{usr.lastname}} {% endfor %}</a>
    </div>
  </div>
  <br/>
  </div>
</form>
{% endfor %}
</div>

{% endblock %}
