
{% macro map_styles() %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
{% endmacro %}

{% macro map(width=600, height=400) %}
<div id="map" style="width: {{width}}px; height: {{height}}px"></div>
{% endmacro %}

{% macro map_input(width=600, height=400) %}
<input type="hidden" id="locationLatitude" placeholder="Latitude" name="locationLatitude" value="42.697765">
<input type="hidden" id="locationLongitude" placeholder="Longitude" name="locationLongitude" value="-73.108005">
<div id="map" style="width: {{width}}px; height: {{height}}px"></div>
{% endmacro %}

{% macro map_scripts(map_lat, map_lon) %}
<script>
  // Initialize the map coordinates, map, and options.
  var map = L.map('map').setView([{{map_lat}}, {{map_lon}}], 3);
  var on_screen_map=new L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
</script>
{% endmacro %}

{% macro map_input_scripts(map_lat, map_lon) %}
<script>
  // Initialize the map coordinates, map, and options.
  var map = L.map('map').setView([42.697765, -73.108005], 3);
  var mapOptions = {'collapsed':false, 'placeholder':'Your Location', 'position':'bottomleft', 'id':'mapSearchbarId'};

  // Initialize the location field from html form
  var locationLatitude = document.getElementById("locationLatitude");
  var locationLongitude = document.getElementById("locationLongitude");

  // Add geocoder control (searchbar for addresses) onto map
  var geocoder = L.Control.geocoder(mapOptions);
  geocoder.on('markgeocode', function(e) {
    locationLatitude.value = e.geocode.properties.lat;
    locationLongitude.value = e.geocode.properties.lon;
  }).addTo(map);

  var on_screen_map=new L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
</script>
{% endmacro %}
