{% extends 'layout.html' %}
{% from 'map.html' import map_styles, map_input, map_input_scripts %}
{% block styles %}
{{ map_styles() }}
{% endblock styles %}
{% set title = 'Preferences' %}
{% block content %}
<div class="container">
  <br/>
<div class="row">
    <div class="col-md-8 offset-md-2">
         <form action="{{url_for('main.save_preference')}}" method="post">
           <div class="container">
           <div class="row">
               <div class="col-xs-4">
                 <label>Maximum Cost</label>
                  <input type="number" class="form-control" name="Price" value={{preference.price}}>
               </div>
               <div class="col-xs-4" style="padding: 0 1em">
                 <label>Distance (in miles)</label>
                   <input type="number" class="form-control" name="Distance" value={{preference.distance}}>
               </div>
               <div class="col-xs-4">
                 <label>Categories</label>
                 {{ pref_form.Categories(size=30, placeholder="e.g. Holiday, School, Athletic, Other", class="form-control") }}
               </div>
            </div>
            <br/>
            </div>
              <button class="btn btn-info" type="button", onClick="hideSize()">&#8615; Size of the event</button>
              <div id="size">
              {%if preference.size == "large"%}
                <input type="radio", name="size", value="large", checked>Large<br/>
              {%else%}
              <input type="radio", name="size", value="large">Large<br/>
              {%endif%}
              {%if preference.size == "medium"%}
                <input type="radio", name="size", value="medium", checked>Medium<br/>
              {%else%}
              <input type="radio", name="size", value="medium",>Medium<br/>
              {%endif%}
              {%if preference.size == "small"%}
                <input type="radio", name="size", value="small", checked>Small<br/>
              {%else%}
              <input type="radio", name="size", value="small">Small<br/>
               {%endif%}
               {%if preference.size == "any"%}
                 <input type="radio", name="size", value="any", checked>Any
               {%else%}
               <input type="radio", name="size", value="any">Any
                {%endif%}
            </div>
            <br/><br/>
            {{ map_input(600, 400, preference.latitude, preference.longitude) }}
            <br/>

            <input class="btn btn-primary btn-lg" type="submit", value="Save Changes">

         </form>
  </div>
</div>
</div>
<script>
function hideSize() {
  var x = document.getElementById("size");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

{% endblock %}

{% block scripts %}
{%if preference.latitude == 0 or preference.longitude == 0%}
{{ map_input_scripts(0, 0, 1) }}
{%else%}
{{ map_input_scripts(preference.latitude, preference.longitude, 3000) }}
{%endif%}
{% endblock %}
