{% extends 'layout.html' %}
{% from 'map.html' import map_styles, map, map_scripts %}

{% block styles %}
{{ map_styles() }}
<link rel="stylesheet", type="text/css", href="{{url_for('static', filename='css/events_page.css')}}">
{% endblock %}


{% block content %}
<div class="event">
<div class="card text-center">
  <div class="card-header">
    <a href="/event/{{event.id}}" class="event_title">{{event.name}}</a>
  </div>
  <div class="card-body">
    <p class="card-text">{{event.start}} — {{event.end}}</p>
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
          {{ map() }}
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    <br/>
    <form action="{{url_for('main.event', id=event.id)}}" method="POST">
    {{attend_form.event_id(value=event.id, hidden=True)}}
    {% if is_attending %}
      <input class="btn btn-outline-primary" type="submit", value="Unattend">
    {% else %}
      <input class="btn btn-outline-primary" type="submit", value="Attend">
    {% endif %}
    </form>
  </div>
  <div class="card-footer text-muted">
    <a class="event_info"><b>ID: </b> {{event.id}} </a>
    <a class="event_info"><b>Price: </b> {{event.price}} </a>
    <a class="event_info"><b>Location: </b> {{event.location}} </a>
    <a class="event_info"><b>Categories: </b> {% for category in event.categories %}{{ category }}{% endfor %} </a>
    <a class="event_info"><b>Attendees: </b> {% for usr in event.attending_user %}{{usr.firstname}} {{usr.lastname}} {% endfor %}</a>
  </div>
</div>
<br/>
</div>
{% endblock %}


{% block scripts%}
{{ map_scripts(event.latitude, event.longitude, 15) }}
{% endblock %}
